<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inventário de {{ jogador.nome if jogador else 'Jogador Desconhecido' }}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <body class="pagina-com-fundo fundo-inventario">
        <h1>Inventário de {{ jogador.nome if jogador else 'Jogador não encontrado' }}</h1>

        <div id="inventario-grid">
            </div>
    </div>

    <script>
        const jogadorId = {{ jogador.id }};
    </script>
    
    <script src="{{ url_for('static', filename='inventario.js') }}"></script>
</body>
</html>